<div class="itemscesta">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-8">
                <div class="card border-secondary mb-3" style="max-width: 50rem; padding: 2%;">
                    <div class="card-header">
                        <h2>Pago y Entrega</h2>
                    </div>
                    <form>
                        <div>
                            <h3 class="title" style="padding: 2%;">Dirección de Entrega</h3>
                            <div class="card">
                                <div class="container">
                                    <h4 class="title" style="padding: 2%;">Tus Direcciones</h4>
                                    <button type="button" class="btn btn-warning">Agregar Nueva Dirección</button>
                                    <!-- Button trigger modal -->
                                    <!-- <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                        Agregar Nueva Dirección
                                    </button> -->

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Nueva Dirección
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Formulario
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger"
                                                        data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-success">Añadir</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check" style="padding: 2%;">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1" style="padding: 1%;">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Dirección 1
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="item-description">Teléfono:</p>
                                            <p class="item-description">Num. Exterior:</p>
                                            <p class="item-description">Num. Interior:</p>
                                        </div>
                                        <div class="col">
                                            <p class="item-name">Calle:</p>
                                            <p class="item-description">Colonia:</p>
                                            <p class="item-description">Municipio:</p>
                                            <p class="item-description">Estado:</p>
                                            <p class="item-description">Código Postal:</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-4">
                <div class="totbas">
                    <div class="card text-center" style="padding: 3%;">
                        <div class="card-body" style="position: sticky;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Artículos</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Total de Artículos</th>
                                        <th scope="col">Precio Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Nombre</td>
                                        <td>7</td>
                                        <td>$321</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-success">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>