<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
        <mat-toolbar color="primary">Menú</mat-toolbar>
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
     <app-header (togglesidenav)="sidenav.toggle()"></app-header>
     <router-outlet></router-outlet>
     <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner bdColor="rgba(0,0,0,0.8)" 
             size="medium"
             color="#ffffff"
             type="ball-scale-multiple"
             [fullScreen]="true"
             [showSpinner]="true"> 
 <p style="color: white;"> Cargando... </p> 
</ngx-spinner>
