<mat-card class="small-card">
    <div class="cuerpo">
      <div class="imglogo">
        <img src="assets\images\LogoMCS.png" alt="" style="height: 300px;">
      </div>
        <div class="centered-container">
          <mat-card class="card">
            <mat-card-content>
                <h1>Registro</h1>
              <div class="form-field">
                <mat-form-field class="inputs" style="width: 100%;">
                  <input matInput type="text">
                  <mat-label>Nombre</mat-label>
                </mat-form-field>
              </div>
              <div class="form-field">
                <mat-form-field class="inputs" style="margin-right: 10px; width: 49%; ">
                  <input matInput type="text">
                  <mat-label>Apellido Paterno</mat-label>
                </mat-form-field>
                <mat-form-field class="inputs" style="width: 49%;">
                    <input matInput type="text">
                    <mat-label>Apellido Materno</mat-label>
                  </mat-form-field>
              </div>
              <div class="form-field">
                <mat-form-field class="inputs" style="margin-right: 10px; width: 49%; ">
                  <input matInput type="email">
                  <mat-label>Correo</mat-label>
                </mat-form-field>
                <mat-form-field class="inputs" style="width: 49%;">
                    <input matInput type="tel">
                    <mat-label>Numero de Telefono</mat-label>
                  </mat-form-field>
              </div>
              <div class="form-field">
                <mat-form-field class="inputs" style="margin-right: 10px; width: 49%; ">
                  <input matInput type="password">
                  <mat-label>Contraseña</mat-label>
                </mat-form-field>
                <mat-form-field class="inputs" style="width: 49%;">
                    <input matInput type="password">
                    <mat-label>Confirmar Contraseña</mat-label>
                  </mat-form-field>
              </div>


              <button mat-button color="primary">Registrarse</button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
</mat-card>
