<!-- Tarjeta que contiene el formulario de registro -->
<mat-card class="small-card">
  <div class="cuerpo">
    <!-- Div que contiene el logo -->
    <div class="imglogo">
      <img src="assets\images\LogoMCS.png" alt style="height: 300px;">
    </div>
    <div class="centered-container">
      <!-- Título del formulario -->
      <h1>Registro</h1>
      <mat-card-content>
        <!-- Formulario con enlace al método onSave() en ngSubmit -->
        <form [formGroup]="clientForm" (ngSubmit)="onSave()">
          <!-- Campo de entrada para el nombre -->
          <div class="form-field">
            <mat-form-field class="inputs" style="width: 100%;">
              <input matInput type="text" formControlName="nombre" #nombreField>
              <mat-error>
                {{baseForm.getErrorMessage(clientForm.get('nombre'))}}
              </mat-error>
              <mat-label>Nombre</mat-label>
            </mat-form-field>
          </div>
          <!-- Campo de entrada para el apellido paterno y materno -->
          <div class="form-field">
            <mat-form-field class="inputs" style="width: 49%;">
              <input matInput type="text" formControlName="apellidoPaterno"
                #apellidoPaternoField>
              <mat-error>
                {{baseForm.getErrorMessage(clientForm.get('apellidoPaterno'))}}
              </mat-error>
              <mat-label>Apellido Paterno</mat-label>
            </mat-form-field>
            <mat-form-field class="inputs" style="width: 49%;">
              <input matInput type="text" formControlName="apellidoMaterno">
              <mat-error>
                {{baseForm.getErrorMessage(clientForm.get('apellidoMaterno'))}}
              </mat-error>
              <mat-label>Apellido Materno</mat-label>
            </mat-form-field>
          </div>
          <!-- Campo de entrada para el correo electrónico y número de teléfono -->
          <div class="form-field">
            <mat-form-field class="inputs" style="width: 49%;">
              <input matInput type="email" formControlName="email">
              <mat-error>
                {{baseForm.getErrorMessage(clientForm.get('email'))}}
              </mat-error>
              <mat-label>Correo</mat-label>
            </mat-form-field>
            <mat-form-field class="inputs" style="width: 49%;">
              <input matInput type="tel" formControlName="telefono">
              <mat-error>
                {{baseForm.getErrorMessage(clientForm.get('telefono'))}}
              </mat-error>
              <mat-label>Numero de Telefono</mat-label>
            </mat-form-field>
          </div>
          <!-- Campo de entrada para la contraseña y confirmación de contraseña -->
          <div class="form-field">
            <mat-form-field class="inputs" style="width: 49%;">
              <input matInput type="password" formControlName="contrasenia">
              <mat-error>
                {{baseForm.getErrorMessage(clientForm.get('contrasenia'))}}
              </mat-error>
              <mat-label>Contraseña</mat-label>
            </mat-form-field>
            <mat-form-field class="inputs" style="width: 49%;">
              <input matInput type="password"
                formControlName="confirmContrasenia">
              <mat-error>
                {{baseForm.getErrorMessage(clientForm.get('confirmContrasenia'))}}
              </mat-error>
              <mat-label>Confirmar Contraseña</mat-label>
            </mat-form-field>
          </div>

          <!-- Botón de registro -->
          <button mat-button color="primary">Registrarse</button>
        </form>
      </mat-card-content>
    </div>
  </div>
</mat-card>