<mat-card class="small-card">
    <div class="cuerpo">

        <div class="centered-container">
          <mat-card class="card">
            <mat-card-content>
                <h1>Registro Detalle de Articulo</h1>
              <div class="form-field" style="padding: 3%;">
                <h5>Selecciona la Talla</h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" style="padding: 2%;">
                <label class="form-check-label" for="flexRadioDefault1">
                  S
                </label>
                <!-- <mat-form-field class="inputs" style="width: 100%;">
                  <input matInput type="text">
                  <mat-label>Talla</mat-label>
                </mat-form-field> -->
              </div>
              <div class="form-field">
                <mat-form-field class="inputs" style="margin-right: 10px; width: 100%; ">
                  <input matInput type="text">
                  <mat-label>Color</mat-label>
                </mat-form-field>
              </div>
              <div class="form-field">
                <mat-form-field class="inputs" style="margin-right: 10px; width: 100%; ">
                  <input matInput type="number">
                  <mat-label>Precio</mat-label>
                </mat-form-field>
                <mat-form-field class="inputs" style="margin-right: 10px; width: 100%; ">
                    <input matInput type="number">
                    <mat-label>Stock</mat-label>
                  </mat-form-field>
              </div>
              <button mat-button color="primary">Actualizar Detalle de Articulo</button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
</mat-card>