<div class="bodymain">
  <div class="row align-items-center">
    <div class="col">
      <p class="h2"
        style="justify-content: center; display: flex; align-items: center; padding: 3%;">Productos</p>
      <th scope="col" style="padding: 3%;"><button type="button"
          class="btn btn-success" (click)="onOpenModal()">Añadir Nuevo Producto</button></th>
      <table class="table" style="padding: 3%;">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Responsable Registro</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.nombre}}</td>
            <td>{{producto.nombreCategoria}}</td>
            <td>{{ producto.fecha_Registro | date: 'dd/MM/yyyy' }}</td>
            <td>{{producto.nombreUsuario}}</td>
            <td>
              <button type="button" class="btn btn-warning"
                (click)="onOpenModalDetalle(producto.idProducto)">Añadir Detalle</button>
              <button type="button" class="btn btn-info"
                (click)="onOpenModal(producto)">Editar</button>
              <button type="button" class="btn btn-danger"
                (click)="onDelete(producto.idProducto)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>