<mat-card class="small-card">
    <div class="cuerpo">
      <div class="imglogo">
        <img src="assets\images\LogoMCS.png" alt="" style="height: 300px;">
      </div>
        <div class="centered-container">
          <!-- <mat-card class="small-card"> -->
            <h2>Iniciar sesión</h2>
            <mat-card-content>
              <div class="form-field">
                <mat-form-field class="inputs">
                  <input matInput type="email">
                  <mat-label>Correo</mat-label>
                </mat-form-field>
              </div>
              <div class="form-field">
                <mat-form-field class="inputs">
                  <input matInput type="password">
                  <mat-label>Contraseña</mat-label>
                </mat-form-field>
              </div>
              <button mat-button color="primary">Iniciar Sesión</button>
            </mat-card-content>
          <!-- </mat-card> -->
        </div>
      </div>
    </mat-card>