<div class="bodymain">
    <div style="justify-content: center; display: flex; align-items: center; padding: 3%;">
      <p class="h2" style="padding: 3%;">Productos Totales</p>
      <button type="button" class="btn btn-success">Añadir Nuevo Producto</button>
    </div>
  
    <div class="row align-items-start" style="width: 100%;">
      <div class="col">
        <div class="card mb-3" style="max-width: 500px;">
          <div class="row g-0">
            <div class="col-md-4" style="padding: 5%;">
              <img src="https://source.unsplash.com/random/300x300" class="img-fluid rounded-start" alt="...">
              <img src="https://source.unsplash.com/random/300x300" class="img-fluid rounded-start" alt="...">
              <img src="https://source.unsplash.com/random/300x300" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Nombre del Articulo</h5>
                <p class="card-text">Precio</p>
                <p class="card-text">Cantidad</p>
                <p class="card-text">Categoria</p>
                <p class="card-text">Talla</p>
                <p class="card-text">Color</p>
                <p class="card-text">Responsable Registro</p>
                <p class="card-text">Fecha Registro</p>
              </div>
            </div>
            <div style="justify-content: center; align-items: center; padding-inline: 10%;" >
            <button type="button" class="btn btn-info" style="width: 100%;">Editar</button>
            <button type="button" class="btn btn-warning" style="width: 100%;">Añadir Detalle</button>
            <button type="button" class="btn btn-danger" style="width: 100%;">Eliminar</button>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
  
  