<div class="bodymain container">
  <div style="justify-content: center; display: flex; align-items: center; padding: 3%;">
    <p class="h2" style="padding: 3%;">Productos Totales</p>
    <button type="button" class="btn btn-success" (click)="onOpenModal()">Añadir Nuevo Producto</button>
  </div>

  <div class="row">
    <div *ngFor="let producto of productos" class="col-md-4">
      <div class="card mb-3">
        <div class="row g-0">
          <!--<div class="col-md-4" style="padding: 5%;">
            <img src="https://source.unsplash.com/random/300x300" class="img-fluid rounded-start" alt="...">
            <img src="https://source.unsplash.com/random/300x300" class="img-fluid rounded-start" alt="...">
            <img src="https://source.unsplash.com/random/300x300" class="img-fluid rounded-start" alt="...">
          </div>-->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Producto: {{ producto.nombre }}</h5>
              <p class="card-text">Precio: </p>
              <p class="card-text">Cantidad: </p>
              <p class="card-text">Categoria: {{ producto.idCategoria }}</p>
              <p class="card-text">Talla: </p>
              <p class="card-text">Color: </p>
              <p class="card-text">Responsable Registro:  </p>
              <p class="card-text">Fecha Registro: {{ producto.fecha_Registro }}</p>
            </div>
            <div class="card-footer">
              <!-- Botones de editar, añadir detalle y eliminar -->
              <button type="button" class="btn btn-info" style="width: 100%;" (click)="onOpenModal(producto)">Editar</button>
              <button type="button" class="btn btn-warning" style="width: 100%;">Añadir Detalle</button>
              <button type="button" class="btn btn-danger" style="width: 100%;" (click)="onDelete(producto.idProducto)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
