.spacer{
    flex:1 1 auto;
}
a{
    text-decoration: none;
    color:white;
}
.carruselanuncio{
    padding: 0.1%;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    background-image: linear-gradient( 88.8deg,  rgba(239,171,245,1) 13.4%, rgba(196,181,249,1) 76.3% );
}